body {

    transition: 0.5s;

}

.light-mode {

    background-color: white !important;

    color: black !important;

}

.light-mode .card {

    background-color: #f8f9fa !important;

    color: black !important;

}

.light-mode h1,
.light-mode h2,
.light-mode h4,
.light-mode p {

    color: black !important;

}